.gradle
bin
old
src/com/njst/gaming/data.java
build
engine-platform-desktop/src/main/resources/render.log
engine-platform-desktop/src/main/resources/Scene.log
android/Scene.log
android/engine-platform-android/src/main/assets/render.log
android/engine-platform-android/src/main/assets/Scene.log
android/engine-platform-android/.cxx/
backups
engine-platform-desktop/src/main/resources/render.log
engine-platform-desktop/src/main/resources/Scene.log
engine-platform-desktop/src/main/resources/render.log
